flows.json
[
    {
        "id": "9c8f43486e279bc9",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9bc1812f88f7e6be",
        "type": "mqtt in",
        "z": "9c8f43486e279bc9",
        "name": "",
        "topic": "suhu/node",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "98417eef6b0b5a35",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 160,
        "wires": [
            [
                "a9dd372ef5d52a2d",
                "8b0c5a9ebf3e4495"
            ]
        ]
    },
    {
        "id": "a9dd372ef5d52a2d",
        "type": "function",
        "z": "9c8f43486e279bc9",
        "name": "function 14",
        "func": "let data = msg.payload.split(\",\");\nmsg.payload = parseFloat(data[0]);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 160,
        "wires": [
            [
                "6a44ab4e2d145e30",
                "fd2b910d0db02903"
            ]
        ]
    },
    {
        "id": "8b0c5a9ebf3e4495",
        "type": "function",
        "z": "9c8f43486e279bc9",
        "name": "function 15",
        "func": "let data = msg.payload.split(\",\");\nmsg.payload = parseFloat(data[1]);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 260,
        "wires": [
            [
                "3c9d3cd5dae88b51",
                "9df660db9bd827f6"
            ]
        ]
    },
    {
        "id": "6a44ab4e2d145e30",
        "type": "ui_gauge",
        "z": "9c8f43486e279bc9",
        "name": "",
        "group": "82f16d0214234fb5",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 530,
        "y": 160,
        "wires": []
    },
    {
        "id": "3c9d3cd5dae88b51",
        "type": "ui_gauge",
        "z": "9c8f43486e279bc9",
        "name": "",
        "group": "82f16d0214234fb5",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 520,
        "y": 260,
        "wires": []
    },
    {
        "id": "fd2b910d0db02903",
        "type": "ui_chart",
        "z": "9c8f43486e279bc9",
        "name": "",
        "group": "82f16d0214234fb5",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "9df660db9bd827f6",
        "type": "ui_chart",
        "z": "9c8f43486e279bc9",
        "name": "",
        "group": "82f16d0214234fb5",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 520,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "98417eef6b0b5a35",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "82f16d0214234fb5",
        "type": "ui_group",
        "name": "suhu",
        "tab": "23ce40b25f59cdd3",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "23ce40b25f59cdd3",
        "type": "ui_tab",
        "name": "DHT 11",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8eec5591691b8871",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]
